.wordlist {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  justify-content: space-evenly;
}

.word-card {
  margin: 10px;
  width: 300px;
}

.word-card-content {
  height: 250px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
